<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>game db</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
</head>

<body>
  <h1>hi</h1>
  <div class="">
    <form class="searchForm" action="/games" method="post">
      <input type="text" name="userInput" value="" placeholder="Add a game">
      <input type="submit" name="buttonForUserInput" placeholder="Submit This">
    </form>
    <div class="">
      {{#object}}
      <form class="" action="/delete/{{name}}" method="post">
        <input type="submit" name="deleteButton" placeholder="Delete" ><p>{{name}}</p>
    </form>
    {{/object}}
    </div>
  </div>


  <script src="app.js" charset="utf-8" type="text/javascript">
  </script>
</body>

</html>
